
body{
    background-color:white;
}
/* .navbar-fixed{
    height: 95px;
} */


/* .nav-wrapper li a{
    color: #505050;
    
} */


#shrashtalogo{
    width: 200px;
    height: 100px;
}
#slider{
    padding:0;
    
}
#dropdown{
    
}
#text{
    background-image: url("../images/textbackground3.png");
    background-repeat: no-repeat;
    background-size: cover;

    
   } 

 


/* #body3{
    font-family:proxima-nova;
    text-align: center;
    font-size:35px;
    font-style: oblique;
    color: black;
    padding-top: 4%;
    padding-left: 5%;
    
} */
#gallery h3{
    font-family:proxima-nova; 
    font-style: oblique;
}

#contactform{
    height:700px;
    background-image: url("../images/Car Image.jpg");
    background-size: cover;
}


#footer-icons{
   
text-align: center;
}

#services_small_nav{
    background-color:#FF0099;
    height: 100px;
    
    
}
#smallnav{
    font-weight: bold;
    font-family:'Cormorant Garamond', serif;
}
#smallnav:hover{
        font-weight: bolder;
        text-decoration: underline;
        color: white;
        
}
